<div class="teamContainer">

    @for (pokemon of team; track pokemon.name) {
    <div class="pokemon-card-container">
        <app-pokemon-card [pokemon]="pokemon" />
    </div>
    }
</div>

@if(team){
<div class="teamTypes">
    <div class="types-relations">
        <h3>Team's Types Relations</h3>
        <span class="table">
            <table>
                <thead>
                    <tr>
                        <ng-container>
                            <th>Pokemon</th>
                        </ng-container>
                        <ng-container *ngFor="let relation of team[0].typesRelations | keyvalue">
                            <th>{{ relation.key }}</th>
                        </ng-container>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of team">
                        <ng-container>
                            <td>{{p.name}}</td>
                        </ng-container>
                        <ng-container *ngFor="let relation of p.typesRelations | keyvalue">
                            <td>
                                <div *ngIf="relation.value === 4" class="x4">x4</div>
                                <div *ngIf="relation.value === 2" class="x2">x2</div>
                                <div *ngIf="relation.value === 1" class="x1">x1</div>
                                <div *ngIf="relation.value === 0.5" class="x05">x0.5</div>
                                <div *ngIf="relation.value === 0.25" class="x025">x0.25</div>
                                <div *ngIf="relation.value === 0" class="x0">x0</div>

                            </td>
                        </ng-container>
                    </tr>

                    <tr>
                        <ng-container>
                            <td>Total</td>
                        </ng-container>
                        <ng-container *ngFor="let relation of team[0].typesRelations | keyvalue; let i = index">
                            <td>
                                <div class="average" [ngStyle]="{
                                                'background': 'rgb(' + 
                                                (255 * ((averageRelations.get(relation.key) || 0.6) - 0.6) / (2 - 0.6)) + ',' + 
                                                (255 * (1 - ((averageRelations.get(relation.key) || 0.6) - 0.6) / (2 - 0.6))) + ',0)',
                                                'color': '#fff',
                                                'padding': '2px 6px',
                                                'border-radius': '4px'
                                            }">
                                </div>
                            </td>
                        </ng-container>
                    </tr>
            </table>
        </span>
    </div>
</div>

<button class="copy-pokepaste" (click)="copyPokepaste()">Copy pokepaste</button>
} @else {
<p>Loading...</p>
}