/*Light theme*/
$header-bg-color-light: #EEE;
$bg-color-light: #ffffff;
$bg-secondary-light: #f3f3f3;
$bg-tertiary-light: #cfcfcf;
$font-color-light: #000000;


/*Dark theme*/
$header-bg-color-dark: #2b2b2b;
$bg-color-dark: #000000;
$bg-secondary-dark: #333333;
$bg-tertiary-dark: #666666;
$font-color-dark: #ffffff;

