@use 'variables' as *;

::ng-deep body {

    background-color: $header-bg-color-light;


    * {
        color: $font-color-light;
    }

    .stats-container {
        background-color: $bg-secondary-light;
    }

    .move-wrapper {
        background-color: #f4f4f4;
    }

    .move-wrapper:hover {
        background-color: #fcfcfc;
    }

    table {
        background-color: $bg-secondary-light;

        tr {
            border-bottom: 1px solid $bg-tertiary-light;
        }

        td {
            border-inline: 1px solid $bg-tertiary-light;
        }
    }

    th {
        background-color: $bg-secondary-light
    }


    &.dark {
        background-color: $header-bg-color-dark;

        * {
            color: $font-color-dark;
        }

        .stats-container {
            background-color: $bg-secondary-dark;
        }

        .move-wrapper {
            background-color: $bg-tertiary-dark;

        }

        .move-wrapper:hover {
            background-color: #797979;
        }

        table {
            background-color: $bg-secondary-dark;

            tr {
                border-bottom: 1px solid $bg-secondary-dark;
            }

            td {
                border-inline: 1px solid $bg-tertiary-dark;
                background-color: $bg-secondary-dark;

                .x1{
                    background-color: $bg-tertiary-dark;
                    color: $font-color-dark;
                }
            }


        }

        th {
            background-color: $bg-secondary-dark;
        }

    }
}

.body {
    padding-inline: 5%;

    .top-left {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img.pokemon-image {
            width: 40%;
            aspect-ratio: 1 / 1;
            object-fit: contain;
        }

        .type-images {
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;

            img {
                width: 80%;
            }
        }

    }

    p {
        margin: 0;
    }

    h2 {
        margin-left: 5%;
    }

    .pokemon-image {
        margin-left: 5%;
        width: 20%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }

    .onRow {
        display: flex;
        flex-direction: row;
        margin-block: 20px;


        .stats-container {
            width: 50%;
            margin-left: auto;
            margin-right: 5%;
            padding: 10px;
            border-radius: 8px;
        }
    }

    .top-right {

        width: 60%;

        .item-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 35px;
                height: 35px;
            }
        }

        .infos {
            width: 100%;
            padding-block: 10px;
            display: flex;
            flex-direction: row;
            gap: 5%;
        }

        .evs {
            padding-block: 10px;
        }

        .moves {
            .move-wrapper {
                margin-block: 5px;
                padding-inline: 5px;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 25px;
                width: 50%;

                img {
                    height: 60%;
                    margin-left: auto;
                    margin-right: 10px;
                }

                p {
                    font-size: 15px;
                    margin-right: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                }
            }

            .move-wrapper:hover {
                cursor: pointer;
            }
        }
    }
}

.stat-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding-block: px;

    p {
        width: 10%;
    }

    .progress {
        width: 90%;
        height: 15px;
    }
}


.table {
    display: flex;
    justify-content: center;

    table {
        width: 90%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1rem;

        tr {
            border: none;
        }

        th,
        td {
            width: 5%;
            margin-inline: 2px;
            text-align: left;
            text-align: center;
            border: none;
        }

        .x4 {
            background-color: #fea2a2;
            color: #a10000;
        }

        .x2 {
            background-color: #ffc5b3;
            color: #a15c00;
        }

        .x05 {
            background-color: #c9f9c9;
            color: #098d09;
        }

        .x025 {
            background-color: #96fd96;
            color: #066d06;
        }

        .x0 {
            background-color: #e0e0e0;
            color: #666;
        }

        th {
            font-weight: 600;
        }

        tr:last-child td {
            border-bottom: none;
        }
    }
}