
<app-tier-selector (tierChanged)="loadMatchups()"></app-tier-selector>

<h2>Per pokemon analysis</h2>

<div class="tabs">
  <div
    *ngFor="let tab of tabs; let i = index"
    class="tab"
    [class.active]="selectedTab === i"
    (click)="selectedTab = i">
  <img [src]="team![i].imageUrl" class="pokemon-image" />
  {{tab}}

</div>
</div>

<div class="tab-content">
  <app-single-pokemon-analysis [matchups]="matchupsForEachPokemon[selectedTab]"></app-single-pokemon-analysis>
</div>

<!-- @for (bestAndWorstMatchupsForAPokemon of bestAndWorstMatchupsForEachPokemon; track bestAndWorstMatchupsForAPokemon.pokemon.name) {

  <h3>{{ bestAndWorstMatchupsForAPokemon.pokemon.name }}</h3>

  <h4>Best matchups</h4>
  <ul>
    @for (entry of bestAndWorstMatchupsForAPokemon.bestMatchups; track entry[0].name) {
      <li>{{ entry[0].name }} ({{ entry[1].matchupScore }})</li>
    }
  </ul>

  <h4>Worst matchups</h4>
  <ul>
    @for (entry of bestAndWorstMatchupsForAPokemon.worstMatchups; track entry[0].name) {
      <li>{{ entry[0].name }} ({{ entry[1].matchupScore }})</li>
    }
  </ul>

} -->