<div class="card-container" (click)="openDetailedView()">
    <span class="top">
        <div class="top-left">
            <img class="pokemon-image" [src]="pokemon.imageUrl">

            <div class="type-images">
                <img *ngFor="let type of pokemon.types" class="type-image" [src]="'assets/moves/' + type + '.png'"
                    [alt]="type + ' type'" />
            </div>
        </div>
        <div class="top-right">
            <h5 class="pokemon-name"><strong>{{ pokemon.name }}</strong></h5>
            <span>
                <p class="nature"><strong>Nature:</strong> {{ pokemon.nature }}</p>
                <p class="card-text"><strong>Ability:</strong> {{ pokemon.ability }}</p>
                <span class="item-wrapper">
                    <p class="card-text"><strong>Held Item:</strong> {{ pokemon.heldItem || 'None' }}</p>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{formatItemName(pokemon.heldItem)}}.png" alt="item image">
                </span>
            </span>
        </div>
    </span>

    <span class="evs">
        <p> Evs : {{pokemon.getEVsHTMLText()}}</p>
    </span>

    <span class="body">

        <div class="pokemon-moves">
            <h5>Moves :</h5>
            @if(movesAndTypes){
            <div *ngFor="let move of pokemon.moves" class="move-wrapper" (click)="openMoveDetails(move)">
                <p>{{ move }}</p>
                <img class="moveImage" [src]="'assets/moves/' + movesAndTypes[move] + '.png'" alt="" />
            </div>
            }
        </div>


        <div class="pokemon-stats">
            <h5>Base stats :</h5>

            <ng-container *ngFor="let statName of ['HP', 'Atk', 'Def', 'SpA', 'SpD', 'Spe']">
                <div class="stat-wrapper">
                    <p>{{ statName }}:</p>
                    <div class="progress">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            [style.width.%]="(pokemon.baseStats[statName] / 255) * 100"
                            [attr.aria-valuenow]="pokemon.baseStats[statName]"
                            aria-valuemin="0"
                            aria-valuemax="200"
                        >
                            {{ pokemon.baseStats[statName] }}
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>


    </span>

</div>