@use 'variables' as *;

::ng-deep body {


  * {
    color: $font-color-light;
  }

  * .card-container {
    background-color: $bg-secondary-light;
  }

  .move-wrapper {
    background-color: #e2e2e2;
  }

  .move-wrapper:hover {
    background-color: #fcfcfc;
  }

  &.dark {

    * {
      color: $font-color-dark;
    }

    .card-container {
      background-color: $bg-secondary-dark;
    }

    .move-wrapper {
      background-color: $bg-tertiary-dark;

    }

    .move-wrapper:hover {
      background-color: #797979;
    }
  }
}

p {
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 5px 5px 10px 5px;

  cursor: pointer;


  .top {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;

    .top-left {

      width: 20%;
      display: flex;
      flex-direction: column;

      img.pokemon-image {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
      }

      .type-images {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;

        img {
          width: 80%;
        }
      }
    }

    .top-right {

      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .item-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 35px;
          height: 35px;
        }
      }

      .onRow {
        display: flex;
        flex-direction: row;
        gap: 5%;
      }


      .pokemon-name {
        margin-bottom: 10px;
        text-align: center;
      }

    }
  }

  .evs {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    margin-block: 5px;
  }

  .body {
    margin-inline: 2%;
    width: 96%;
    display: flex;
    flex-direction: row;

    .pokemon-moves {

      width: 50%;

      .move-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 25px;
        margin-bottom: 10px;
        padding-inline: 5px;
        margin-right: 5px;
        border-radius: 5px;


        img {
          height: 60%;
          margin-left: auto;
          margin-right: 5px;
        }

        p {
          font-size: 15px;
          margin-right: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }

      .move-wrapper:hover {
        cursor: pointer;
      }
    }


    .pokemon-stats {
      width: 50%;

      .stat-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        p {
          width: 20%;
        }

        .progress {
          width: 80%;
          height: 15px;
        }
      }

    }
  }
}